*{
  box-sizing: border-box;
  
}

body{
  background-image: url("img/tlo2.jpg");
}
 .nav{
     width: 33%;
     height: 20px;
     justify-content: space-around;
     align-items: center;
     display: flex;
}
.nawigacja{
  display: grid;
  grid-template-areas: 
  "gi1 gi2 gi3";
  grid-gap: 1px;
  
}
.opcja{
  display: flex;
  justify-content: center;
  align-items: center;
}

 


 .o1{grid-area: 2px;}
 .o2{grid-area: 2px;}
 .o3{grid-area: 2px;}
 .article{
   margin:2% 2%d;
   display: flex;
   justify-content: center ;



 }

@media only screen and (max-width: 750px){
  .nawigacja{
      display: flex;
      flex-direction: column;

  }

  }
  .artykuly{
    background-image: url("img/indeks.jpg");
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3%;


  }
  .artykuly div{
    width: 50%;
  }
 .zdjecie{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .artykul{
   display: flex;
   justify-content: center;
   align-items: center;
 }