*{
    box-sizing: border-box;
    
}

body{
    
   
   header{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   nav{
       width: 33%;
       height: 20px;

      
   }
   .nawigacja{
       justify-content: space-around;
      align-items: center;
      display: flex;
      position: sticky;
      top:0%;
   }
   .opcja :hover{
       background-color:aqua;
   }
   .opcja{
    padding: 5%;
   }
   
    
}
@media only screen and (max-width: 750px){
    .nawigacja{
        display: flex;
        flex-direction: column;

    }

    }